# file: compose.yaml
# description: Compose stack to launch SnowSearch Stack
#
# @author: Derek Garcia
name: snowsearch
services:

  # Ollama api server for converting prompt to OpenAlex Elasticsearch syntax and grading responses
  ollama:
    image: ollama/ollama:0.12.3
    container_name: ollama
    # todo allow access to GPU if available - current just cpu only
    networks:
      - snowsearch-net
    volumes:
      - ollama_models:/root/.ollama

  # Neo4j Database for storing paper abstracts and metadata
  abstract_db:
    image: neo4j:5.26.13
    container_name: abstract_db
    environment:
      NEO4J_AUTH: ${NEO4J_AUTH:?Neo4j 'user/pw' must be set in the .env file}
      NEO4J_client_allow__telemetry: false
    networks:
      - snowsearch-net
    volumes:
      - abstract_db:/data
      # temp volume for logs
      - type: tmpfs
        target: /logs

  # Grobid service for extracting citations for snowballing
  grobid:
    image: grobid/grobid:0.8.2
    container_name: grobid
    networks:
      - snowsearch-net

volumes:
  # for caching abstracts
  abstract_db:
  # for caching ollama models
  ollama_models:

networks:
  snowsearch-net:
    name: snowsearch-net
