# file: compose.yaml
# description: Compose stack to launch SnowSearch Stack
#
# @author: Derek Garcia
name: snowsearch
services:

  # Ollama api server for converting prompt to findpapers syntax and grading responses
  ollama:
    image: ollama/ollama:0.12.3
    container_name: ollama
    # TODO - remove public access
    ports:
      - "11434:11434"
    # todo allow access to GPU if available - current just cpu only
    networks:
      - snowsearch-net
    volumes:
      - ollama_models:/root/.ollama

  # Neo4j Database for storing paper abstracts and metadata
  abstract_db:
    image: neo4j:5.26.13
    container_name: abstract_db
    env_file:
      - path: .env
        required: true
    # default values
    # TODO - remove public access
    ports:
      - "7474:7474"  # Neo4j Browser
      - "7687:7687"  # Bolt protocol
    environment:
      NEO4J_AUTH: ${NEO4J_AUTH:?Neo4j 'user/pw' must be set in the .env file}
    networks:
      - snowsearch-net
    volumes:
      - abstract_db:/data
      # temp volume for logs
      - type: tmpfs
        target: /logs

volumes:
  # for caching abstracts
  abstract_db:
  # for caching ollama models
  ollama_models:

networks:
  snowsearch-net:
    name: snowsearch-net