# https://github.com/actions/starter-workflows/blob/main/ci/pylint.yml
name: Pylint

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.12", "3.13" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies and pylint
        run: |
          pip install --upgrade pip
          pip install --prefer-binary --no-cache -r requirements.txt
          pip install pylint

      - name: Analyzing the code with pylint
        env:
          PYTHONPATH: "./snowsearch"
        run: pylint --fail-under=6.0 snowsearch