# https://github.com/actions/starter-workflows/blob/main/ci/pylint.yml
name: Pylint

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.12" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pylint
        run: |
          pip install --upgrade pip
          pip install pylint

      - name: Analyzing the code with pylint
        env:
          PYTHONPATH: "./snowsearch"
        # E0401 is import-error - ok since deps exceed CI size limit
        # todo - fix and reinstall smaller deps
        run: pylint --fail-under=6.0 --disable=E0401 snowsearch